div.hero__container
    h1.hero__header #{header}
    p.hero__description #{description}
    button.hero__cta #{cta.label}
picture.hero__picture
    source(media="(min-width: 320px)", srcset=images.small.url)
    source(media="(min-width: 640px)", srcset=images.medium.url)
    source(media="(min-width: 1024px)", srcset=images.large.url)
    img(src=images.small.url, alt=images.small.description)
