div.hero__container
    h1.hero__header #{header}
    p.hero__description #{description}
    button.hero__cta #{cta.label}
picture.hero__picture
    source(media="(min-width: 320px) and (max-width: 639px)", srcset=images.small.url)
    source(media="(min-width: 640px) and (max-width: 1023px)", srcset=images.medium.url)
    source(media="(min-width: 1024px)", srcset=images.large.url)
    img( alt=images.small.description, srcset=images.small.url).hero__img
