button.navbar__icon
  span
  span
  span
img(src=logo.link, alt=logo.img)
div.navbar__list
  ul.navbar__list-container
    each element in links
      if Object.keys(element).includes('href')
        li.navbar__link
          b
            a(href=element.href) #{element.label}
      else
        li(class="navbar__link js-dropdown")
          b #{element.label}
          ul(class="navbar__dropdown navbar__dropdown--collapsed")
            each subElement in element.links
                li.navbar__link 
                  b
                    a(href=subElement.href) #{subElement.label}
