doctype html
html
  head
    title hb-multiple-pages #{logo.img}
  body
    nav.navbar
      div.navbar__mobile
      ul
        each label in links
          if(label.lenght > 1){
            li.navbar__link
            a(href="#{label.links}") #{label.label}
            }
            else {
            li.navbar__link
            a(href="#{label.links}") #{label.label}}            }
